In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randn(5,3),
                 index=list(range(1,6)),
                 columns=list("ABC"))

In [5]:
df

          A         B         C
1 -0.840537  0.312887  0.988180
2 -0.003243  0.632703  1.302569
3  0.863916  1.818405  0.424405
4  1.071278 -1.304795 -0.840526
5  0.251136  0.741846 -0.435309

In [6]:
df[df.B>0]

          A         B         C
1 -0.840537  0.312887  0.988180
2 -0.003243  0.632703  1.302569
3  0.863916  1.818405  0.424405
5  0.251136  0.741846 -0.435309

In [7]:
df[df.B>0]["C"] = 0

/Users/tonywang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
df

          A         B         C
1 -0.840537  0.312887  0.988180
2 -0.003243  0.632703  1.302569
3  0.863916  1.818405  0.424405
4  1.071278 -1.304795 -0.840526
5  0.251136  0.741846 -0.435309

In [9]:
df.loc[2:3,"B":"C"]

          B         C
2  0.632703  1.302569
3  1.818405  0.424405

In [11]:
df.loc[2,"B"]

0.63270251271737477

In [12]:
df.loc[2,"B"] = 1

In [13]:
df

          A         B         C
1 -0.840537  0.312887  0.988180
2 -0.003243  1.000000  1.302569
3  0.863916  1.818405  0.424405
4  1.071278 -1.304795 -0.840526
5  0.251136  0.741846 -0.435309

In [14]:
df.loc[df.B>0, "C"]=0

In [15]:
df

          A         B         C
1 -0.840537  0.312887  0.000000
2 -0.003243  1.000000  0.000000
3  0.863916  1.818405  0.000000
4  1.071278 -1.304795 -0.840526
5  0.251136  0.741846  0.000000