In [1]:
a = input("a = ")

a = 87

In [2]:
a

'87'

In [3]:
m = input("美金價格： ")

美金價格： 120

In [4]:
m

'120'

In [5]:
m * 30.5

TypeError: can't multiply sequence by non-int of type 'float'

In [6]:
float(m) * 30.5

3660.0

In [9]:
m = input("美金價格： ")
twd = float(m) * 30.5
print("合台幣"+ str(twd)+ "元")

美金價格： 128
合台幣3904.0元

In [8]:
print("合台幣"+ str(twd)+ "元")

合台幣3904.0元

In [1]:
message = input(">> ")
print("拍拍")

>> dd
拍拍

In [2]:
sin?

Object `sin` not found.

In [3]:
Sin ?

SyntaxError: invalid syntax (<ipython-input-3-caf47be1c043>, line 1)

In [6]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib